body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, 
a:visited, 
a:hover, 
a:focus {
  text-decoration: none; color: #F9FAF8;
}

img {
  max-width: 700px;
  min-height: 300px
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  height: 50px;
}

.header-logo {
  font-weight: bolder;
  font-size: 24px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  align-items: center;
  margin-right: 12px;
  gap: 20px;
}

.hero-container {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.hero-text {
  border: 5px solid lightcoral;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
}

.hero-main-text {
  font-weight: bolder;
  color: #F9FAF8;
  font-size: 48px;
  justify-content: center;
}

.hero-sub-text {
  color: #F9FAF8;
}

.booknow-button {
  background-color: lightblue;
  color: #F9FAF8;
  border-radius: 50cm;
  padding: 12px;
}

.hero-image {
  display: flex;
  flex-wrap: wrap;
}