body {
  font-family: "Abel", "Limelight", "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, 
a:visited, 
a:hover, 
a:focus {
  text-decoration: none; color: #F9FAF8;
}

.hero img {
  max-width: 650px;
  min-height: 400px;
  border-radius: 5%;
  transition: transform .2s;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 185px;
  padding-right: 170px;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  height: 50px;
  flex: 0 0 auto;
}

.header-logo {
  flex: 0 0 auto;
  font-weight: bolder;
  font-size: 24px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  font-size: 18px;
  align-items: center;
  margin-right: 12px;
  gap: 20px;
}

.hero-container {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-left: 185px;
  padding-right: 170px;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  gap: 10px;
}

.hero-main-text {
  font-family: "Limelight";
  font-weight: bolder;
  color: #F9FAF8;
  font-size: 48px;
  justify-content: center;
}

.hero-sub-text {
  font-family: "Railway";
  color: #F9FAF8;
  font-size: 20px;

}

.booknow-button {
  background-color: lightblue;
  color: black;
  border-radius: 25cm;
  padding: 12px;
  width: 150x;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

main {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #FFFDD0;
}

.card-titles {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  font-size: 30px;
  text-decoration: underline;
  font-family: "LimeLight";
}

.card-titles p {
  flex-shrink: 0;
  width: 320px;
  text-align: center;
}

.main-content-text {
  font-family: "Limelight";
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 20px;
  font-weight: bolder;
  font-size: 36px;
}
.main-content-cards {
  display: flex;
  justify-content: space-around;
}

.card-content {
  text-align: center;
  font-size: 18px;
}

.card {
  width: 320px;
}

.card img {
  border: 10px solid lightblue;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform .5s ease;
}

.card img:hover {
  transform: scale(1.5);
  filter: contrast(100%);
}

.quote-container {
  height: 250px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
}

.main-quote {
  flex-shrink: 0;
  font-size: 42px;
  font-style: italic;
}

.quote-author {
  flex-shrink: 0;
  align-self: flex-end;
  padding-right: 150px;
  padding-top: 30px;
  font-size: 32px;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
  height: 200px;
  border-radius: 5cm;
  background-color: lightblue;
  margin: 100px;          
}

.action-text {
  overflow: auto;
  margin-left: 200px;
  padding-left: 15px;
  border-left: 5px solid black;
  
}

.action-text-title {
  font-size: 40px;
  padding-bottom: 5px;
}

.action-sub-text {
  font-size: 25px;
  font-weight: bold;
}

.action-button-1 {
  display: flex;
  padding-right: 300px;
}

.action-button {
  background-color: goldenrod;
  color: black;
  border-radius: 25cm;
  padding: 12px;
  width: 150x;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
}